n8n-workflows/ig-scheduled-post.json
{
  "name": "Instagram - Scheduled Post Publisher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.spreadsheet_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-content-queue",
      "name": "Fetch Content Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300],
      "notes": "Reads from your Google Sheet content calendar. Columns expected: date, image_url, caption, hashtags, status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-today",
              "leftValue": "={{ $json.date }}",
              "rightValue": "={{ $now.format('yyyy-MM-dd') }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "filter-pending",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-today-posts",
      "name": "Filter Today's Posts",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v21.0/{{ $env.INSTAGRAM_BUSINESS_ACCOUNT_ID }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $json.image_url }}\",\n  \"caption\": \"{{ $json.caption }}\\n\\n{{ $json.hashtags }}\",\n  \"access_token\": \"{{ $env.INSTAGRAM_ACCESS_TOKEN }}\"\n}",
        "options": {}
      },
      "id": "create-media-container",
      "name": "Create Media Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "notes": "Step 1 of Instagram Publishing: Creates a media container. The image_url must be a publicly accessible URL."
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-for-processing",
      "name": "Wait for Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "notes": "Instagram needs time to process the media container before publishing. 30 seconds is usually enough."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.instagram.com/v21.0/{{ $('Create Media Container').item.json.id }}?fields=status_code&access_token={{ $env.INSTAGRAM_ACCESS_TOKEN }}",
        "options": {}
      },
      "id": "check-container-status",
      "name": "Check Container Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "notes": "Checks if the media container is ready (status_code = FINISHED). If not, the workflow waits and retries."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-finished",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-container-ready",
      "name": "Container Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v21.0/{{ $env.INSTAGRAM_BUSINESS_ACCOUNT_ID }}/media_publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"creation_id\": \"{{ $('Create Media Container').item.json.id }}\",\n  \"access_token\": \"{{ $env.INSTAGRAM_ACCESS_TOKEN }}\"\n}",
        "options": {}
      },
      "id": "publish-post",
      "name": "Publish Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 200],
      "notes": "Step 2 of Instagram Publishing: Publishes the processed media container to your Instagram feed."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || '' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"Instagram post published successfully!\\nCaption: {{ $('Filter Today\\'s Posts').item.json.caption.substring(0, 100) }}...\\nPost ID: {{ $json.id }}\"\n}",
        "options": {}
      },
      "id": "notify-success",
      "name": "Notify Success (Optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 200],
      "notes": "Optional: sends a Slack/webhook notification on success. Remove or replace with email if preferred.",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-error",
              "name": "error_message",
              "value": "=Container not ready after 30s. Status: {{ $json.status_code }}. Container ID: {{ $('Create Media Container').item.json.id }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "handle-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1780, 420],
      "notes": "Logs the error when the container is not ready. You can extend this to send an alert."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "url",
          "value": "={{ $('Fetch Content Queue').params.url }}"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "published",
            "ig_post_id": "={{ $('Publish Post').item.json.id }}",
            "published_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["date"]
        }
      },
      "id": "update-sheet-status",
      "name": "Update Sheet Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2000, 100],
      "notes": "Updates the Google Sheet row to 'published' so it doesn't get picked up again."
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [{ "node": "Fetch Content Queue", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Content Queue": {
      "main": [
        [{ "node": "Filter Today's Posts", "type": "main", "index": 0 }]
      ]
    },
    "Filter Today's Posts": {
      "main": [
        [{ "node": "Create Media Container", "type": "main", "index": 0 }]
      ]
    },
    "Create Media Container": {
      "main": [
        [{ "node": "Wait for Processing", "type": "main", "index": 0 }]
      ]
    },
    "Wait for Processing": {
      "main": [
        [{ "node": "Check Container Status", "type": "main", "index": 0 }]
      ]
    },
    "Check Container Status": {
      "main": [
        [{ "node": "Container Ready?", "type": "main", "index": 0 }]
      ]
    },
    "Container Ready?": {
      "main": [
        [{ "node": "Publish Post", "type": "main", "index": 0 }],
        [{ "node": "Log Error", "type": "main", "index": 0 }]
      ]
    },
    "Publish Post": {
      "main": [
        [
          { "node": "Update Sheet Status", "type": "main", "index": 0 },
          { "node": "Notify Success (Optional)", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "instagram" },
    { "name": "automation" },
    { "name": "social-media" }
  ]
}
